{% extends "layout.html" %}

{% block title %}
  Contact
{% endblock %}

{% block main %}
  <form action="/contact" method="post" enctype="multipart/form-data">
    
    <h3>Contact</h3><br>
    <h6>Instructions: Please include a description of your proposed trade, as well as additional information and contact details.</h6>
    <div class="mb-3">
        <textarea class="form-control mx-auto w-auto" rows="3" id="description" name="description" placeholder="Description here."></textarea>
    </div>

    <h6>Note: sending this message means that you consent to have your full name and email shared with this sender.</h6>
    <h6>This allows them to reach back about this trade.</h6>
    <div class="mb-3">
      <button class="btn btn-primary" name="itemid" value="{{itemid}}" type="submit">Send Message</button>
    </div>

  </form>
{% endblock %}