{% extends "layout.html" %}
{% block title %}
  Log In
{% endblock %}

{% block main %}
<br>
  <div class="col-3 mx-auto bg-dark border border-0 rounded-3" style="background: navy !important;">
    <br>
    <h3 style="color:white; font-family:'Bungee Shade';font-size: 44px;">Login</h3><br>
    <form action="/login" method="post">
      <div class="col-10 form-floating mx-auto">
        <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
        <label for="username">Username</label>
      </div>
      <hr>
      <div class="col-10 form-floating mx-auto">
        <input autofocus class="form-control" id="password" name="password" placeholder="Password" type="password">
        <label for="password">Password</label>
      </div>
        <br>
      <div class="pb-4 mb-3">
        <button class="btn btn-primary col-10" type="submit">Log In</button>
      </div>
    </form>
  </div>
{% endblock %}