{% extends "layout.html" %}

{% block title %}
  Select Club
{% endblock %}

{% block main %}
    <form action="/selectclub" method="post">
        
        <label>Select a club to update</label>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="process">
                {% for club in clubs%}
                    <option value="{{club.id}}">{{club.title}}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary" type="submit" name= "select">Select Club</button>
    </form>
{% endblock %}