{% extends "layout.html" %}

{% block title %}
  Update Club
{% endblock %}

{% block main %}
    <form action="/updateclub" method="post">
        
        <label>Club Name</label>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="" type="text" value="{{ club.title }}">
        </div>

        <label>Club Description</label>
        <div class="mb-3">
            <textarea class="form-control mx-auto w-auto" rows="3" id="description" name="description" placeholder="">{{ club.description }}</textarea>
        </div>

        <label>Membership Process</label>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="membership_process">
                {% set vals = ["Open", "Completion-Based", "Competitive"] %}
                {% for i in range(vals|length) %}   
                    {%if club.membership_process == vals[i] %}
                        <option value = "{{vals[i]}}" selected>{{vals[i]}}</option>
                    {% else %}
                        <option value = "{{vals[i]}}">{{vals[i]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <label>Club Size</label>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="size">
                {% set vals = ["Small", "Medium", "Large"] %}
                {% for i in range(vals|length) %}   
                    {%if club.size == vals[i] %}
                        <option value = "{{vals[i]}}" selected>{{vals[i]}}</option>
                    {% else %}
                        <option value = "{{vals[i]}}">{{vals[i]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <label>Accepting Members</label>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="is_accepting_members" value="{{club.is_accepting_members}}"> 
                {%if club.is_accepting_members %}
                    <option value = "Yes" selected>Yes</option>
                    <option value = "No">No</option>
                {% else %}
                    <option value = "Yes">Yes</option>
                    <option value = "No" selected>No</option>
                {% endif %}
            </select>
        </div>

        <label>Recruiting Cycle</label>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="recruiting_cycle" value="{{ club.recruiting_cycle }}">
                {% set vals = ["Fall", "Spring", "Fall/Spring"] %}
                {% for i in range(vals|length) %}   
                    {%if club.recruiting_cycle == vals[i] %}
                        <option value = "{{vals[i]}}" selected>{{vals[i]}}</option>
                    {% else %}
                        <option value = "{{vals[i]}}">{{vals[i]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <label>Time Commitment</label>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="time_commitment" value="{{ club.time_commitment }}">
                {% set vals = ["Low", "Medium", "High"] %}
                {% for i in range(vals|length) %}   
                    {%if club.time_commitment == vals[i] %}
                        <option value = "{{vals[i]}}" selected>{{vals[i]}}</option>
                    {% else %}
                        <option value = "{{vals[i]}}">{{vals[i]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Update Club</button>

    </form><br>

    <form action="/deleteclub" method="post">

        <button class="btn btn-primary" type="submit">Delete Club</button>

    </form>

{% endblock %}