{% extends "layout.html" %}

{% block title %}
  View Item(Specific)
{% endblock %}

{% block main %}
  <div class="container py-4">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Owner</h2>
          <p>{{info["name"]}}</p>
          <div class="mb-3">
            <p>Status: {{item["sold"]}}</p>
          </div>
          <div class="mb-3">
            <p>Time posted: {{item["timestamp"]}}</p>
          </div>
          <form action="/viewitem" method="post">
            <!-- TODO: Change value to item_id for proposetrade and user_id for contact-->
            <button class="btn btn-outline-secondary" value="contact" name="contact" type="submit">Contact</button>
            <button class="btn btn-outline-secondary" value="proposetrade" name="proposetrade"type="submit">Propose Trade</button>
            <button class="btn btn-outline-secondary" name="cancel" type="submit">Back To Marketplace</button>  
          </form>
        </div>
      </div>
    </div>
    <hr>
  </div>
{% endblock %}