{% extends "layout.html" %}

{% block title %}
  Marketplace
{% endblock %}

{% block main %}
<div class="album py-5">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
      <!-- looping card display-->
      {% for item in items %}
        <div class="col">
          <form action="/viewitems" method="post">
            <div class="card shadow-sm">
              <!-- {{url_for('static', filename = 'images/item.img')}} -->
              <img src="{{url_for('static', filename = 'images/'+item.img)}}" class="bd-placeholder-img card-img-top" width="100%" height="225" src="" role="img" aria-label="Placeholder: Missing Image" preserveAspectRatio="xMidYMid slice" focusable="false"/>
              <!-- <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="url_for('item_image', imgid=item.id)" role="img" aria-label="Placeholder: Missing Image" preserveAspectRatio="xMidYMid slice" focusable="false"/> -->
              <div class="card-body">
                <h5 class="card-text">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button name="itemid" value="{{item.id}}" type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                  <small class="text-muted">{{item.datetime.strftime('%m/%d/%Y')}}</small>
                </div>
              </div>
            </div>
          </form>
        </div>
      {% endfor %}
{% endblock %}